.container {
  display: flex;
  flex-direction: column;
  height: 100%; /* Занимает всю доступную высоту */
}

.dataGrid {
  flex: 1; /* DataGrid займет все доступное пространство, за исключением кнопки */
  overflow: auto; /* Позволяет прокручиваться внутри DataGrid, если содержимое больше доступного пространства */
  height: 95vh; /* или 100% от высоты родительского элемента, если он ограничен */
  width: 100%; /* Пример ширины, можно адаптировать под ваш дизайн */
  overflow: auto; /* Включает прокрутку внутри DataGrid */
}

.buttonContainer {
  margin-top: auto; /* Автоматически выравнивает кнопку внизу контейнера */
}

@media (max-width: 600px) {
  .container {
    max-height: 100vh;
    overflow: auto;
  }
}

.wrapText {
  white-space: normal;
  /* overflow: hidden; */
  text-overflow: ellipsis;
  overflow: visible;
  line-height: 1.5; /* Регулируем высоту строки */
  padding: 6px 10px; /* Стандартные отступы */
}
